{% extends 'userpanel/user_base.html' %}

{% block content %}
<div class="container my-5" style="width: 1100px;margin-right: 250px;">
    <div class="d-flex justify-content-between">
        <img src="{{ company.company_logo.url }}" class="card-" alt="{{ company.company_name }}" style="height: 100px; object-fit: contain;"><h3>{{ company.company_name }} </h3>
        <a href="{{ company.website }}" class="text-decoration-none" target="_blank">Visit website</a>
    </div>
    
    <p>{{ company.description }}</p>

    <hr>

    <h4>Available Jobs</h4>

    {% if jobs %}
    <ul class="list-group" style="margin-bottom: 100px;">
        {% for job in jobs %}
        <li class="list-group-item">
            <h5>{{ job.title }}</h5>
            <p>{{ job.description }}</p>
            <small><strong>Location:</strong> {{ job.location }}</small><br>
            <small><strong>Salary:</strong> ${{ job.salary }}</small><br>
            <small><strong>Posted on:</strong> {{ job.posted_at|date:"M d, Y" }}</small>
            <br>
            <!-- Apply Button -->
        {% if job.id in applied_jobs %}
        <button class="btn btn-secondary" disabled>Applied</button>
    {% else %}
        <a href="{% url 'apply_for_job' job.pk %}" class="btn btn-success apply-now">Apply Now</a>
    {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No jobs available for this company.</p>
    {% endif %}
</div>
{% endblock %}
