{% extends 'userpanel/user_base.html' %}

{% block content %}
<style>
    .container {
        margin-top: 20px;
        max-width: 1000px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .list-group-item {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .notification-message {
        font-size: 16px;
        color: #333;
        flex-grow: 1;
        margin-right: 20px;
        word-wrap: break-word;
    }

    .text-muted {
        font-size: 12px;
        color: #888;
    }
</style>

<div class="container">
    <h2>Your Notifications</h2>

    {% if notifications %}
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item">
                <strong>{{ notification.job.title }}</strong> - {{ notification.message }}
                <div class="notification-details">
                    <small class="text-muted">{{ notification.created_at|date:"M d, Y, g:i a" }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No notifications yet.</p>
    {% endif %}
</div>

{% endblock %}
